<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
  <script
    src="../../static/js/jquery-3.1.1.min.js">
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/favicon.ico">

    <title>Система прогнозирования </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/sticky-footer-navbar.css" %}" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Система прогнозирования ><span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}" style="color: #8fcafe">Прогноз индивидуального преступного поведения <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'list' %}" style="color: #8fcafe">Список лиц неоднократно совершивших преступления <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <img src="{% static "images/favicon.ico" %}" style="width: 50px;height: 50px">
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      <div id="main_test" style="display: block">
      <div class="mt-3">
        <h1>Введите данные для расчета</h1>
      </div>
      <p class="lead">Пункт за пунктом введите данные о человеке после чего нажмите <code>Расчитать</code></p>
      <p>Для обнуления данных нажмите <a href="#" id="restart_button">Начать заново</a> </p>
      <ol>
        <div>
          <li id = 'question1'>
          <h6>
            Введите Фамилию, Имя и Отчество человека:
          </h6>
          <form class="mt-3">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="ФИО" id="question_1">
              </div>
            </div>
          </form>
        </li>
        </div>
        <li class="mt-3" id="question2">
          <h6>Введите возраст: </h6>
          <form class="mt-3">
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" placeholder="25" id="question_2">
              </div>
            </div>
          </form>
        </li>
        <li class="mt-3" id = 'question3'>
          <h6>Укажите образование: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question3" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Без образования
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question3" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Высшее
      </label>
      </div>
      <div class="form-check ml-4" >
      <input class="form-check-input" type="radio" name="question3" id="answer3" value="3">
      <label class="form-check-label" for="exampleRadios3">
        Незаконченное высшее и среднее профессиональное специальное
      </label>
      </div>
          <div class="form-check ml-4" >
      <input class="form-check-input" type="radio" name="question3" id="answer4" value="4">
      <label class="form-check-label" for="exampleRadios4">
          Неполное среднее и среднее
      </label>
      </div>
          </div>
        </li>
        <li class="mt-3" id = 'question4'>
          <h6>Укажите семейное положение: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question4" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Холост
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question4" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Женат
      </label>
      </div>
      <div class="form-check ml-4" >
      <input class="form-check-input" type="radio" name="question4" id="answer3" value="3">
      <label class="form-check-label" for="exampleRadios3">
        Сожительство
      </label>
      </div>
          </div>
        </li>
        <li class="mt-3" id="question5">
          <h6>Укажите род занятий: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question5" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Безработный и неучащийся
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question5" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Занятый
      </label>
      </div>
      <div class="form-check ml-4" >
      <input class="form-check-input" type="radio" name="question5" id="answer3" value="3">
      <label class="form-check-label" for="exampleRadios3">
        Студент
      </label>
      </div>
            <div class="form-check ml-4" >
      <input class="form-check-input" type="radio" name="question5" id="answer4" value="4">
      <label class="form-check-label" for="exampleRadios4">
        Учащийся средней школы
      </label>
      </div>
            <div class="form-check ml-4" >
      <input class="form-check-input" type="radio" name="question5" id="answer5" value="5">
      <label class="form-check-label" for="exampleRadios5">
        Пенсионер
      </label>
      </div>
            <div class="form-check ml-4" >
      <input class="form-check-input" type="radio" name="question5" id="answer6" value="6">
      <label class="form-check-label" for="exampleRadios6">
        Иные
      </label>
      </div>

          </div>
        </li>
        <li class="mt-3" id="question6">
          <h6>Укажите пол: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question6" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Мужской
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question6" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Женский
      </label>
      </div>

          </div>
        </li>
        <li class="mt-3" id="question7">
          <h6>Укажите гражданство: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question7" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Республика Казахстан
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question7" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        СНГ
      </label>
      </div>
            <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question7" id="answer3" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Апатриды
      </label>
      </div>

          </div>
        </li>
        <li class="mt-3" id="question8">
          <h6>Укажите в каком составе: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question8" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Группа
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question8" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Лицо
      </label>
      </div>

          </div>
        </li>
        <li class="mt-3" id = 'question9'>
          <h6>Укажите в каком состоянии совершено преступление: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question9" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Алкогольного опьяниения
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question9" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Наркотического и алкогольного
      </label>
      </div>
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question9" id="answer3" value="3">
      <label class="form-check-label" for="exampleRadios2">
        Болезненное состояние психики
      </label>
      </div><div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question9" id="answer4" value="4">
      <label class="form-check-label" for="exampleRadios2">
        Наркотического и токсамонического и алкогольного опьянения
      </label>
      </div><div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question9" id="answer5" value="5">
      <label class="form-check-label" for="exampleRadios2">
        Нормальном
      </label>
      </div>

          </div>
        </li>
        <li class="mt-3" id="question10">
          <h6>Укажите совершал ли он ранее преступления: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question10" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Рецидив
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question10" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Опасный рецидив
      </label>
      </div>
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question10" id="answer3" value="3">
      <label class="form-check-label" for="exampleRadios2">
        Повторно
      </label>
          </div>
          </div>
        </li>
        <li class="mt-3" id="question11">
          <h6>Укажите имеется ли судимость: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question11" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Погашена
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question11" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Снята
      </label>
      </div>
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question11" id="answer2" value="3">
      <label class="form-check-label" for="exampleRadios2">
        Нет
      </label>
          </div>
          </div>
        </li>
          <li class="mt-3" id="question12">
          <h6>Укажите имеется ли нужда к принудительному лечению: </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question12" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Алкоголизм
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question12" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Наркомания и таксикомания
      </label>
      </div>
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question12" id="answer3" value="3">
      <label class="form-check-label" for="exampleRadios2">
        Псих
      </label>
          </div>
            <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question12" id="answer4" value="3">
      <label class="form-check-label" for="exampleRadios2">
        Нет
      </label>
          </div>
          </div>
        </li>
        <li class="mt-3" id="question13">
          <h6>Укажите совершенное преступление : </h6>
          <div class= "container">
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question13" id="answer1" value="1">
      <label class="form-check-label" for="exampleRadios1">
        Ранее судимый без изоляции(в том числе УО, УДО, ограничения, штрафы, исправ. работы)
      </label>
      </div>
      <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question13" id="answer2" value="2">
      <label class="form-check-label" for="exampleRadios2">
        Ранее судимый с изоляцией
      </label>
      </div>
          <div class="form-check ml-4">
      <input class="form-check-input" type="radio" name="question13" id="answer3" value="3">
      <label class="form-check-label" for="exampleRadios2">
        Состоял на учете(МВД, Мед)
      </label>
          </div>
          </div>
        </li>
      </ol>

      <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary btn-lg text-center" id="result">Расчитать</button>
        <div class="mt-3"><h6 style="color:red" id="warning_message"></h6></div>

        </div>
      </div>
        <div class="result_list" id="result_div" style="display:None">
          <div><h2 class="mt-4 text-center"><b style="color:#581845 ;border-bottom:1px solid black;" id="resultant_name" ></b></h2></div>
        <div class="card text-center mt-5">
            <div class="card-header">
              Выявление первой зависимой переменной
            </div>
            <div class="card-body"  style="background-color: #98FB98">
              <h3 class="card-title mt-3" >Небольшой тяжести и проступки</h3>
              <p class="card-text">Зависимая переменная от преступления такого вида равна <h3 id="result_1"></h3></p>
            </div>
            <div class="card-footer text-muted mt-3">
              1
            </div>
          </div>

        <div class="card text-center mt-5">
            <div class="card-header">
              Выявление второй зависимой переменной
            </div>
            <div class="card-body"  style="background-color: #FFD700">
              <h3 class="card-title mt-3" >Средней тяжести</h3>
              <p class="card-text">Вероятность совершить преступления такого вида равна <h3 id = "result_2"></h3></p>
            </div>
            <div class="card-footer text-muted mt-3">
              2
            </div>
          </div>

        <div class="card text-center mt-5">
            <div class="card-header">
              Выявление третьей зависимой переменной
            </div>
            <div class="card-body"  style="background-color:  #FA8072">
              <h3 class="card-title mt-3" >Тяжкие и особо тяжкие</h3>
              <p class="card-text">Вероятность совершить преступления такого вида равна <h3 id="result_3"></h3></p>
            </div>
            <div class="card-footer text-muted mt-3">
              3
            </div>
          </div>
          </div>


          </div>



    </div>
    <div class="container">
      <div class="row">
    <div class="col mb-5">
    <p class="text-center "><a href="#" style="color: black; text-decoration: underline" id="restart_button">Начать заново</a> </p>

    </div>

      </div>
    </div>
    <footer class="footer">
      <!--<div class="container">-->
        <!--<span class="text-muted">Аналитический центр</span>-->
        <!--<span class="text-muted">Контакты для связи: 87757718182</span>-->
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
  <p class="text-center text-muted">Аналитический центр</p>
       </div>
        <div class="col-sm-4">
  <p class="text-center text-muted">Контакты для связи:<b class="ml-3">87757718182</b></p>
       </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/counter.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
