<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
  <script
    src="../../static/js/jquery-3.1.1.min.js">
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/favicon.ico">

    <title>Система прогнозирования </title>

{#    <link href="assets/css/style.css" rel="stylesheet" />#}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/sticky-footer-navbar.css" %}" rel="stylesheet">
{#      <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet" />#}
{#    <!-- CUSTOM STYLES -->#}
{#    <link href="{% static "assets/css/style.css" %}" rel="stylesheet" />#}
  </head>


  <body>

    <!-- Fixed navbar -->
    <div class='row'>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Система прогнозирования ><span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}" style="color: #8fcafe">Прогноз индивидуального преступного поведения <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'list' %}" style="color: #8fcafe">Список лиц неоднократно совершивших преступления <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <img src="{% static "images/favicon.ico" %}" style="width: 50px;height: 50px">
      </div>
    </nav>
    </div>
    <div class="container">
            <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="db-wrapper">
                    <div class="db-pricing-nine">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="color:  black" width='50% ' class="pl-4">ФИО</th>
                                        <th style="color:  #008e00">Небольшой тяжести и проступки</th>
                                        <th style="color:  #ffbf00">Средней тяжести</th>
                                        <th style="color:   #FA8072">Тяжкие и особо тяжкие</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for criminal in criminals_list %}

                                    <tr>
                                          <td class='mybold'>{{ criminal.id }} {{ criminal.fio }}</td>
                                          <td style='color:red'>{{ criminal.r1 }}%</td>
                                          <td>{{ criminal.r2 }}%</td>
                                          <td>{{ criminal.r3 }}%</td>
                                      </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Begin page content -->

    <footer class="footer">
      <!--<div class="container">-->
        <!--<span class="text-muted">Аналитический центр</span>-->
        <!--<span class="text-muted">Контакты для связи: 87757718182</span>-->
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
  <p class="text-center text-muted">Аналитический центр</p>
       </div>
        <div class="col-sm-4">
  <p class="text-center text-muted">Контакты для связи:<b class="ml-3">87757718182</b></p>
       </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/js/counter.js"></script>
    <!--<script src="js/bootstrap.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
