﻿
/*============================================================
GENERAL STYLES
============================================================*/
.db-wrapper {
    font-family: Arial;
}
/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #f55039;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #47887E;
}
/*============================================================
BUTTONS STYLES
============================================================*/

.mybold{
  font-weight: bold
}

.db-button-color-one {
    border: none;
    background-color: #f55039;
    color: #fff;
}

    .db-button-color-one:hover, .db-button-color-one:focus {
        color: #fff;
    }

.db-button-color-two {
    border: none;
    background-color: #46A6F7;
    color: #fff;
}

    .db-button-color-two:hover, .db-button-color-two:focus {
        color: #fff;
    }

.db-button-color-three {
    border: none;
    background-color: #47887E;
    color: #fff;
}

    .db-button-color-three:hover, .db-button-color-three:focus {
        color: #fff;
    }
/*============================
PRICING TABLES NINE STYLES
==============================*/

.db-pricing-nine {
    border: 1px solid #EDEDED;
    margin-bottom: 30px;
}

.db-width-perticular {
    width: 300px;
}

.db-pricing-nine .table {
    text-align: center;
    margin-bottom: 0px;
}

.db-pricing-nine thead tr th {
    font-weight: normal;
    font-weight: normal;
    height: 72px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
}

.db-pricing-nine i.icon-red {
    color: rgb(250, 57, 57);
}

.db-pricing-nine i.icon-green {
    color: #00E025;
}
